<%= form_for current_user, :url => profile_path do |f| %>
  <%= f.fields_for :profile do |p| %>
    <h3>Interested in...</h3>
    <p>
      <%= p.label :remote_local_preference, "Pairing in person, remotely, or both?" %>
      <%= p.select :remote_local_preference, Profile::LOCAL_PREFERENCES %>
    </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
