%h2= @user.name

#user-profile
  = image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{@user.gravatar_id}", class: :avatar)

  %ul
    %li.location
      %label Location
      = @user.location
    %li.email
      %label E-mail
      = link_to @user.email, "mailto:#{@user.email}"
    %li.pairing-preference
      %label
        Pairing preference
        %span.smaller
          (remote, in-person, both)
      = @profile.remote_local_preference
    %li.interests
      %label Interests
      = @profile.interests
