- CommentPresenter.new(comment, self).render do
  .comment-box
    = image_tag author_gravatar_image_url, class: :avatar
    .body= body
    .author
      - if edit_mode
        .edit_actions= link_to "delete", comment_path, :method => :delete

      %span.date= created_time_ago
      %span.name= link_to author_name, author_path
