- UserPresenter.new(@user, self).render do
  - content_for :title, "#{github_login}'s profile"

  #user-profile
    = image_tag gravatar_image_url, class: :avatar

    %h2= name

    %ul
      %li.pairing-preference
        %label
          Pairing preference
        %span.value= pairing_preference
      - if location.present?
        %li.location
          %label Location
          %span.value= location
      - if email.present?
        %li.email
          %label E-mail
          %span.value= mail_to email, email, encode: "javascript"
      - if twitter.present?
        %li.twitter
          %label Twitter
          %span.value= link_to twitter, twitter_link
      %li.interests
        %label Interests
        %span.value.lengthy= interest_links

%ul#coderwall
  - @coderwall.each do |ach|
    %li
      = image_tag ach.badge
