- UserPresenter.new(@user, self).render do
  - content_for :title, "#{github_login}'s profile"

  #user-profile
    = image_tag gravatar_image_url, class: :avatar

    %h2= name

    %ul
      %li.pairing-preference
        %label
          Pairing preference
        %span.value= pairing_preference
      - if location.present?
        %li.location
          %label Location
          %span.value= location
      - if email.present?
        %li.email
          %label E-mail
          %span.value= mail_to email, email, encode: "javascript"
      - if twitter.present?
        %li.twitter
          %label Twitter
          %span.value= link_to twitter, twitter_link
      %li.interests
        %label Interests
        %span.value.lengthy= interest_links

  - if flash.key? :notice
    %h3.notice= flash[:notice]
  - if flash.key? :alert
    %h3.alert=  flash[:alert]

  #user-comments
    - unless logged_user?
      - unless current_user
        %h3.login_notice= link_to 'Log in with GitHub to post comments', '/auth/github'

      - else
        = render_partial 'comments/form', comment: new_or_old_comment, edit_mode: false  
  
    %br
    - if any_comments?
      - reversed_comments.each do |comment|
        - next if comment.new?
        = render_partial 'comments/comment', comment: comment

    - else
      %h4{style: 'margin-top: 20px'}= "No comments about #{first_name} yet"