- content_for :title, "#{@user.github_login}'s profile"

#user-profile
  = gravatar_image @user, :avatar

  %h2= @user.name

  %ul
    %li.pairing-preference
      %label
        Pairing preference
      %span.value= monkey_slap_preferences @user.remote_local_preference
    - if @user.location.present?
      %li.location
        %label Location
        %span.value= @user.location
    - if @user.email.present?
      %li.email
        %label E-mail
        %span.value= mail_to @user.email, @user.email, encode: "javascript"
    - if @user.twitter.present?
      %li.twitter
        %label Twitter
        %span.value= twitter_url(@user)
    %li.interests
      %label Interests
      - if @user.interests.present?
        %span.value.lengthy= @user.interests.split(",").map { |term| link_terms_to_search(term) }.join(", ").html_safe
      - else
        %span.value No interests. So sad...

- if flash.key? :notice
  %h3.notice= flash[:notice]
- if flash.key? :alert
  %h3.alert=  flash[:alert]
       
#user-comments
  - if @user.comments.empty?
    %h4= "No comments about #{@user.name.split.first} yet"
  - else
    %h4= "What they say about #{@user.name.split.first}:"
    - @user.comments.reverse.each do |comment|
      = render 'comments/comment', :comment => comment, edit_mode: current_user == @user
    
  - unless current_user == @user
    = render 'comments/form', :comment => @user.comments.build