- UserPresenter.new(@user, self).render do
  - content_for :title, "#{github_login}'s profile"

  #user-profile
    = image_tag gravatar_image_url, class: :avatar

    %h2= name

    %ul
      %li.pairing-preference
        %label
          Pairing preference
        %span.value= pairing_preference
      - if location.present?
        %li.location
          %label Location
          %span.value= location
      - if email.present?
        %li.email
          %label E-mail
          %span.value= mail_to email, email, encode: "javascript"
      - if twitter.present?
        %li.twitter
          %label Twitter
          %span.value= link_to twitter, twitter_link
      %li.interests
        %label Interests
        %span.value.lengthy= interest_links

  - if flash.key? :notice
    %h3.notice= flash[:notice]
  - if flash.key? :alert
    %h3.alert=  flash[:alert]

  #user-comments
    - if any_comments?
      %h4= "What they say about #{first_name}:"
      - reversed_comments.each do |comment|
        = render_partial 'comments/comment', :comment => comment, edit_mode: logged_user?

    - else
      %h4= "No comments about #{first_name} yet"

    - unless logged_user?
      - unless current_user
        %h3.login_notice= link_to 'Log in with GitHub to post comments', '/auth/github'

      - else
        = render_partial 'comments/form', :comment => comments.build