- UserPresenter.new(@user, self).render do
  - content_for :title, "#{github_login}'s profile"

  #user-profile
    = image_tag gravatar_image_url, class: :avatar

    %h2= name

    %ul
      %li.pairing-preference
        %label
          Pairing preference
        %span.value= pairing_preference
      - if location.present?
        %li.location
          %label Location
          %span.value= location
      - if email.present?
        %li.email
          %label E-mail
          %span.value= mail_to email, email, encode: "javascript"
      - if twitter.present?
        %li.twitter
          %label Twitter
          %span.value= link_to twitter, twitter_link
      %li.interests
        %label Interests
        %span.value.lengthy= interest_links

- if flash.key? :notice
  %h3.notice= flash[:notice]
- if flash.key? :alert
  %h3.alert=  flash[:alert]

#user-comments
  - if @user.comments.empty?
    %h4= "No comments about #{@user.name.split.first} yet"
  - else
    %h4= "What they say about #{@user.name.split.first}:"
    - @user.comments.reverse.each do |comment|
      = render 'comments/comment', :comment => comment, edit_mode: current_user == @user

  - unless current_user == @user
    = render 'comments/form', :comment => @user.comments.build
