%h2= @user.name

#user-profile
  = image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{@user.gravatar_id}", class: :avatar)

  %ul
    %li.location
      %label Location
      = @user.location
    %li.email
      %label E-mail
      = link_to @user.email, "mailto:#{@user.email}"
    - if @user.twitter.present?
      %li.twitter
        %label Twitter
        = link_to @user.twitter, "http://twitter.com/#{@user.twitter[1..-1]}"
    %li.pairing-preference
      %label
        Pairing preference
        %span.smaller
          (remote, in-person, both)
      = @user.remote_local_preference
    %li.interests
      %label Interests
      = @user.interests
