!!! 5
%html
  %head
    %title= yield(:title) + ' - RubyPair'

    = stylesheet_link_tag :application
    /[if IE]
      = stylesheet_link_tag :ie, media: 'screen, projection'

    = javascript_include_tag :application
    = csrf_meta_tag

    = yield :head

  %body
    #wrapper
      #header
        #logo
          %a{href: '/'}
            = image_tag '/assets/logo.png'

        - if current_user
          #menu
            %span= availability_links
            %span= '/'
            %span= link_to 'My profile', edit_user_path(current_user)
            %span= '/'
            %span= link_to 'Sign out', signout_path
        - else
          %a#signin{href: '/auth/github'}
            = image_tag '/assets/signin-button.png'

      #container
        = yield

      #footer
        %ul
          %li= link_to 'Home', '/'
          %li= link_to 'About', '/about'
          %li= mail_to 'evan@tripledogdare.net', 'Contact'
